body{
	height:80em;
	background: linear-gradient(#87e0fd,#7693A6); /* Old browsers */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#53cbf1',GradientType=0 ); /* IE6-9 */
}

.title{
	margin-bottom: 0%;
}

#navbar{
	postion:fixed;
	top:0%;
	width:20%;
	float:right;
}

h1{
  font-family: 'Lato', sans-serif;
	text-align: center;
}

h2{
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#signup_button{
	text-decoration: none;
	background-color: white;
	border:1px solid black;
}

#signing_up{
	top:0%;
	float:left;
	margin-right: 3%;
}

.tweet_box {
	text-align:center;
	width:300px;
	border: 0.3em solid black;
	margin:0 auto;
	background-color: white;
	border-radius: 0.4em;
}

#new_tweet{
	text-align: center;
}

#signup{
width:100%;
display:block;
margin: 0 43%;
}

#signup_p{
	margin-left:-6%;
}

#duck{
	position:fixed;
	z-index: -1;
	right:0%;
	bottom:0%;
}

#duck2{
	position:fixed;
	z-index: -1;
	left:0%;
	bottom:0%;
}

.user{
	color:#F9FF3F;
}

.usertweet{
	font-size:1.5em;
	color:#2B7C97;
}

.users{
	font-size: 2.5em;
	font-weight: bold;
	color:#2B7C97;
	margin-bottom: -3%;
}


p{
	font-family: 'Lato', sans-serif;
}

#searchbar{
	position:fixed;
	top:0%;
	right:0%;
}