<h1>"Welcome to Quacker"</h1>
<% if params[:error] %>
	<div class="error">Login error.</div>
<% end %>	
<%= erb :login %>
<br/>
<a href='/?sign_up=true'>Sign up</a>

<%if @sign_up %>
  <%= erb :sign_up %>
<% end %>