<div class="title">
  <h1>"Welcome to Quacker"</h1>
</div>
<% if params[:error] %>
	<div class="error">Login error.</div>
<% end %>	
<div id="signing_up">
  <h3>Signup:</h3>
  <a id="signup_button" href='/?sign_up=true'>Sign up</a>
</div>


<div id="navbar">
  <%= erb :login %>
</div>




<%if @sign_up %>
  <%= erb :sign_up %>
<% end %>
