<div class="login">
<form action='/login' method='get'>

  <h3>Login:
  <input type="text" name="username" placeholder="Enter username">
  <input type="text" name="password" placeholder="Enter password">
  <input type="submit">
</h3>
</form>
</div>
