<div id="new_tweet">
<form action="/tweet/new" method="post">
	<textarea name="content" placeholder="New Quack!"></textarea>
	<br>
	<input type="submit" value="Quack!">
</form>
</div>
<!-- raise assertion if user enters more than 140 chars -->