<form action='/search' method='get'>
	<p>Search for other Quackers here</p>
  <p><input type="text" name="search_key" placeholder="Enter username here">
  <input type="submit" placeholder="search"></p>
</form>