<h2>Enter your information below to sign up for Quacker</h2>
<form action='/users/new' method='post'>
  <p>Name: <input type="text" name="name" value="Enter your full name"></p>
  <p>Email: <input type="text" name="email" value="Enter your email"></p>
  <p>Username: <input type="text" name="username" value="Enter username"></p>
  <p>Password: <input type="text" name="password" value="Enter password"></p>
  <p><input type="submit">
</form>