
<div id="signup">
<form action='/users/new' method='post'>
  <p id="signup_p">Enter your information below to sign up for Quacker</p>
  <input type="text" name="name" placeholder="Full name"><br>
 <input type="text" name="email" placeholder="Email"><br>
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="password" placeholder="Password"><br>
  <input type="submit">
</form>
</div>